# run/
applib/
staging/
notes/
inc/srvr.php

content/theme/default/storage/img/item/
content/theme/default/storage/img/profile/

database.php
notes.txt
401.html
403.html
404.html
.htaccess
*.sql
*.bak